.itemContainer{
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    border: black 2px;
    text-align: left;
    margin-left: 2vw;
    margin-bottom: 0px;
    border-style: solid;
}